<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>101705464274-o07oo2r6bre82pvs0e63cuslkq5v8rrs.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.101705464274-o07oo2r6bre82pvs0e63cuslkq5v8rrs</string>
	<key>API_KEY</key>
	<string>AIzaSyADeMuYdpmEPWybnRJTy3QkQpvljuJbJYM</string>
	<key>GCM_SENDER_ID</key>
	<string>101705464274</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>shop.mtcoding.riverpodFirestoreStream</string>
	<key>PROJECT_ID</key>
	<string>riverpod-firestore-strea-7a20f</string>
	<key>STORAGE_BUCKET</key>
	<string>riverpod-firestore-strea-7a20f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:101705464274:ios:45b310728f842ea903700b</string>
</dict>
</plist>